.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.container > * {
    margin: 2vh;
}


.container p {
    width: 202px;
    height: 21px;
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    letter-spacing: 0.14em;
    text-align: center;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container h2 {
    width: 60%;
    height: 116px;
    font-family: Chakra Petch;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.005em;
    text-align: center;

}


.container img {
    width: 1200px;
    height: 522px;

}